# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
Options +FollowSymlinks

# Включаем mod_rewrite
RewriteEngine On

# Если это папка или файл, открываем её/его
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# В противном случае перенаправляем на index.php
RewriteRule (\w*)$ $1.php?content=$1
RewriteRule home index.php?content=home
RewriteRule resume img/CV_Radov_Yurii.pdf
ErrorDocument 404 /page404.html
